.home-container{
    color: blueviolet;
}
.home-container p{
    text-align: center;
    padding-top: 10%;
    font-weight: 500;
    color: bisque;
}
.next-button{
    border-radius: 10px;
    border-color: blueviolet;
    width: 90px;
    height: 50px;
    background-color: antiquewhite;
}
.button-container{
    display: flex;
    align-items: center;
}